@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    /* ### Primary */
    --clr-Pale-blue       : hsl(225, 100%, 94%);
    --clr-Bright-blue     : hsl(245, 75%, 52%);
    /* ### Neutral */
    --clr-Very-pale-blue  : hsl(225, 100%, 98%);
    --clr-Desaturated-blue: hsl(224, 23%, 55%);
    --clr-Dark-blue       : hsl(223, 47%, 23%);
    /* ### font properties */
    --ff                  : "Red Hat Display", sans-serif;
    --fw-n                : 500;
    --fw-m                : 700;
    --fw-b                : 900;
    --fs-p                : 1rem;
    --fs-3                : 1rem;
    --fs-2                : 1.8rem;
}

.sr-only {
    position   : absolute;
    width      : 1px;
    height     : 1px;
    padding    : 0;
    margin     : -1px;
    overflow   : hidden;
    clip       : rect(0, 0, 0, 0);
    white-space: nowrap;
    border     : 0;
}

body {
    height           : 100vh;
    margin           : 0 auto;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    justify-content  : center;
    background-color : var(--clr-Pale-blue);
    background-image : url("../images/pattern-background-desktop.svg");
    background-size  : contain;
    background-repeat: repeat-x;
    font-family      : var(--ff);
    line-height      : 1.5rem;
    color            : var(--clr-Dark-blue);

}

.heading {
    font-weight   : var(--fw-b);
    font-size     : var(--fs-2);
    margin-block  : 0.5em;
    padding-bottom: 0.5em;
}

p {
    color      : var(--clr-Desaturated-blue);
    max-width  : 30ch;
    font-size  : var(--fs-p);
    font-weight: var(--fw-n);
    margin     : 0;
}

.card {
    max-width    : 450px;
    min-width    : 315px;
    width        : 87vw;
    border-radius: 1.5em;
    margin-top: 150px;
    margin-bottom: 50px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    overflow       : hidden;
    text-align     : center;
    background     : white;
}

.cardContent {
    padding        : 2em 3em;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    overflow       : hidden;
    text-align     : center;
}

.subscription-container {
    display              : grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-areas  :
        "Icon Plan    Change"
        "Icon Payment Change";
    font-size    : var(--fs-p);
    font-weight  : var(--fw-b);
    width        : 100%;
    align-items  : center;
    background   : var(--clr-Very-pale-blue);
    border-radius: 10px;
    margin-block : 20px;
    /* // padding: 10px; */
}

.subscription-img {
    grid-area    : Icon;
    width        : max-content;
    justify-self : center;
    padding-block: 1.5rem;
}

.subscription-title {
    grid-area   : Plan;
    align-self  : end;
    justify-self: start;
    margin      : 0;
    font-weight : inherit;
    word-wrap   : unset;
    font-size   : clamp(0.5rem, var(--fs-3), var(--fs-3));
    color       : var(--clr-Dark-blue);
}

.subscription-price {
    grid-area   : Payment;
    align-self  : start;
    justify-self: start;
    margin      : 0;
    font-weight : var(--fw-m);
}

.subscription-change {
    grid-area  : Change;
    color      : var(--clr-Bright-blue);
    font-weight: inherit;
    transition : opacity 100ms ease-in-out;
}

.subscription-change:hover {
    opacity: 0.7;
}

.payment {
    background     : var(--clr-Bright-blue);
    border         : none;
    border-radius  : 0.7em;
    width          : 100%;
    margin         : 1em 0;
    font-weight    : var(--fw-m);
    font-size      : var(--fs-p);
    box-shadow     : 0px 20px 10px var(--clr-Pale-blue);
    color          : var(--clr-Very-pale-blue);
    transition     : opacity 100ms ease-in-out;
    line-height    : 3rem;
    text-decoration: none;
}

.payment:hover {
    opacity: 0.7;
    cursor : pointer;
}

.cancel {
    font-weight    : var(--fw-b);
    color          : var(--clr-Desaturated-blue);
    transition     : color 100ms ease-in-out;
    text-decoration: none;
    line-height    : 3em;
}

.cancel:visited {
    color: var(--clr-Desaturated-blue);
}

.cancel:hover {
    color : var(--clr-Dark-blue);
    cursor: pointer;
}

.attribution {
    font-size : 11px;
    text-align: center;
}

a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 376px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }

    p {
        max-width: 25ch;
    }
}